#password, #password_confirm{
  width: 100% ;
}

#address2 {
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input {
  height: 30px;
  border: 0.5px solid black;
  border-radius: 0.5rem;
}