::-webkit-scrollbar {
    width: 8px; /* 스크롤바의 너비 */
  }
  
  /* 스크롤바의 실제 스크롤 트랙 */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바의 색상 */
    border-radius: 4px; /* 스크롤바 트랙의 모서리를 둥글게 */
  }
  
  /* 스크롤바 트랙의 배경 */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 스크롤바 트랙의 배경 색상 */
  }